html,
body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  background-color: #fcfcfc;
}
body.active {
  overflow: hidden;
  padding-right: 9px;
}
* {
  &::-webkit-scrollbar {
    width: 9px;
    height: 3px;
  }
  &::-webkit-scrollbar-track {
    background-color: #fff1f9;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #f78cb6;
    border-radius: 8px;
  }
}
p {
  font-family: "Proxima Nova", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;

  letter-spacing: 0.3px;

  color: #919299;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.subtitle {
  margin-bottom: 15px;

  font-family: "Circular Std", Arial, sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;

  color: #f78cb6;
}
.title {
  font-family: "Circular Std", Arial, sans-serif;
  font-weight: 700;
  font-size: 52px;
  line-height: 62px;

  color: #56597a;
}
.btn {
  position: relative;
  display: inline-block;
  padding: 18px 85px 18px 22px;
  border-radius: 4px;

  font-family: "Circular Std";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  letter-spacing: 0.3px;

  color: #ffffff;
  background: #f78bb6;

  transition: all, 0.4s;
  &::before {
    content: "";
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 3px;
    border: 2.5px solid #ffffff;

    background: rgba(255, 193, 218, 0.3);

    transition: all, 0.4s;
  }
  &::after {
    content: "";
    position: absolute;
    right: 42px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 12px;

    background-image: url(../images/icons/btn-arrow.svg);
    background-repeat: no-repeat;
    transition: all, 0.4s;
  }

  &:hover {
    background-color: #f76da4;
  }
  &:hover::after {
    transform: translate(14px, -50%);
    width: 27px;
  }
  &:hover::before {
    background: rgba(255, 193, 218, 0.5);
  }
}
